<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="questionDao" class="ru.otus.dalas.dao.QuestionDaoImpl">
        <constructor-arg name="fileName" value="quiz.csv" />
        <constructor-arg name="separator" value="," />
    </bean>

    <bean id="questionService" class="ru.otus.dalas.service.QuestionServiceImpl">
        <constructor-arg name="dao" ref="questionDao" />
    </bean>

    <util:constant id = "inputStream" static-field="java.lang.System.in" />
    <util:constant id = "outputStream" static-field="java.lang.System.out" />

    <bean id="ioService" class="ru.otus.dalas.service.IOServiceImpl">
        <constructor-arg name="inputStream" ref="inputStream" />
        <constructor-arg name="outputStream" ref="outputStream" />
    </bean>

    <bean id="testService" class="ru.otus.dalas.service.TestServiceImpl">
        <constructor-arg name="questionService" ref="questionService" />
        <constructor-arg name="ioService" ref="ioService" />
    </bean>

</beans>